services:
  postgres:
    image: postgres:18.1-alpine
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - ./01_schema.sql:/docker-entrypoint-initdb.d/01_schema.sql
      - ./02_seed.sql:/docker-entrypoint-initdb.d/02_seed.sql